{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <center>
      <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <style>
          body {
            background-image: url('https://www.octaneai.com/hubfs/octaneai_shoppingcart_quiz_digital.png');
            background-size: cover;
          }

          .card {
            width: 300px;
            margin: 0 auto;
            margin-top: 50px;
            padding: 20px;
            background-color:rgba(229, 139, 12, 0.439);
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(217, 85, 8, 0.899);
          }

          .card-body {
            text-align: center;
          }
        </style>
        <input type="submit" value="{% trans 'Log in' %}" />
        <input type="hidden" name="next" value="{{ next }}" />
        <br><br>
      </form>

      <br><p style="font-weight: bold; color:black;">{% trans "Forgot your password?" %}<a href="{% url 'auth_password_reset' %}">{% trans "Reset " %}</a>.</p>
      <p style="font-weight: bold; color: black;">{% trans "Not a member?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>.</p>

    </center>
  </div>
</div>
{% endblock %}
