{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Logged out" %}{% endblock %}

{% block content %}
<style>
    body {
      background-image: url('https://www.bing.com/images/search?view=detailV2&ccid=pqkqmPDx&id=7D16AE200673AF3A5341BFFBD96820ED87712F1B&thid=OIP.pqkqmPDxgl8BSPQGKmCkqwHaEo&mediaurl=https%3a%2f%2fwallpapercave.com%2fwp%2fwp3315704.jpg&exph=1200&expw=1920&q=Thank+You+Background+HD&simid=608035797675154536&FORM=IRPRST&ck=6DD5B2F1E6103EC51A10657DC1D5FCD5&selectedIndex=6&ajaxhist=0&ajaxserp=0');
      background-size: cover;
    }
</style>
<center><p>{% trans "Successfully logged out" %}.</p></center>
{% endblock %}
